.hero-section {
    // min-width: 414px;
    padding: 181px 0 20px;
    width: 100vw;
    background-color: rgba(36, 25, 2, 0.952);
}
.hero__title {
        // display: flex;
        padding-bottom: 24px;
        width: 303px;
        // justify-content: center;
        font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        color: #FFFFFF;
//         @media screen and(min-width:1024px) {
//         padding-top: 88px;
//         padding-bottom: 16px;
//         font-size: 128px;
//         line-height: 1.08;
//         }
//         @media screen and(min-width:1280px) {
//         padding-top: 64px;
//         padding-bottom: 32px;
// }
}
.hero__subtitle {
        // display: flex;
        padding-bottom: 40px;
        // justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.hero__slogan {
        // display: flex;
        padding-bottom: 113px;
        // justify-content: center;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        color: #FFFFFF;
}
.site-address {
    display: none;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 70px;
    // @media screen and(min-width:1024px) {
    // display: flex;
    //     }
        // @media screen and(min-width:1280px) {
    
        // }
}
.table__button {
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    width: 232px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
}
.room__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    width: 232px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
}
.site-net {
    display: flex;
}

