.hero-section {
    // width: 1280px;
    // height: 720px;
    padding: 70px 15px 20px;
    width: 100%;
}
.hero__title {
        // display: flex;
        padding-bottom: 24px;
        // justify-content: center;
        font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        color: #FFFFFF;
        @media screen and(min-width:1024px) {
        padding-top: 88px;
        padding-bottom: 16px;
        font-size: 128px;
        line-height: 1.08;
        }
        @media screen and(min-width:1280px) {
        padding-top: 64px;
        padding-bottom: 32px;
}
}
.hero__subtitle {
        // display: flex;
        padding-bottom: 40px;
        // justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.hero__slogan {
        // display: flex;
        padding-bottom: 113px;
        // justify-content: center;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        color: #FFFFFF;
}
.site-address {
    display: none;
    @media screen and(min-width:1024px) {
    display: flex;
        }
        // @media screen and(min-width:1280px) {
    
        // }
}
.order-table {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    width: 232px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
}
.order-room {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    width: 232px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
}
.table__button {
    // display: flex;
    // justify-content: center;
    @media screen and(min-width:1280px) {
        display: flex;
        justify-content: flex-end;
}
}
.site-net__list {
    display: block;
    width: 112px;
    height: 24px;
    list-style: none;

    // @media screen and(min-width:1280px) {
    //     display: flex;
    //     flex-direction: row;
    //     padding: 38px 0;
    //     gap: 20px;
    //     list-style: none;
    // }
}

.site-net__button {
    // display: flex;
    padding: 0;
    width: 24px;
    height: 24px;
    // justify-content: center;
    // align-items: center;
    background-color: transparent;
    border: none;
}

.site-net__icon {
    width: 22px;
    height: 20px;
    fill: #F3C653;
}