.logo {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.92;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-decoration: none;

    @media screen and(min-width:1024px) {
        font-size: 40px;
        line-height: 1.08;   
    }

}