.page-header {
        height: 111px;
        width: 100%;
        width: 414px;
        height: 100%;
}
.site-nav {
        display: inline-block;
        margin: 0 auto;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-content: center;
        height: 100px;
        // display: inline-block;
}
.site-nav__logo {
        display: inline-block;
        padding-top: 16px;
        margin-right: 52px;
        width: 114px;
        // @media screen and(min-width:1024px) {
        // padding: 24px 0 33px;
        // margin-right: 87px;

}
//         @media screen and(min-width:1280px) {
//         padding: 24px 0 33px;
//         margin-right: 96px;
// }

.site-nav__list {
        display: inline-block;
        margin: 0 auto;
        // display: flex;
        // flex-direction: row;
        // gap: 72px;
        list-style: none;
        // padding: 30px 0;
}
.site-nav__page {
        display: inline-block;
        margin: 0 auto;
        // display: flex;
        // flex-direction: row;
        padding-top: 28px;
}
.site-nav__link {
        display: inline-block;
        margin-right: 6px;
        // align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #F3C653;
        text-decoration: none;
        // @media screen and(min-width:1024px) {
        // display: flex;
        // margin-right: 32px;
        //         }
        
}

.site-nav__phone {
        display: none;
        @media screen and(min-width:1024px) {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-decoration: none;
        
}
}

.site-nav__contact {
        display: inline-block;
        margin: 0 auto;
        border: 0;
        @media screen and(min-width:1024px) {
        display: flex;
        height: 40px;
        flex-direction: row;
        gap: 16px;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
        }
}
.site-nav__icon {
        fill: #F3C653;
        width: 24px;
        height: 24px;
}
// @media screen and(min-width:414px) {
        
// }
// @media screen and(min-width:1024px) {
        
// }
// @media screen and(min-width:1280px) {
        
// }
.site-net {
        display: none;
}
.site-net__list {
        display: none;
//         @media screen and(min-width:1280px) {
//         display: flex;
//         flex-direction: row;
//         padding: 38px 0;
//         gap: 20px;
//         list-style: none;
//         }      
}
.site-net__button {
        // display: flex;
        padding: 0;
        width: 24px;
        height: 24px;
        // justify-content: center;
        // align-items: center;
        background-color: transparent;
        border: none;
}
.site-net__icon {
        width: 22px;
        height: 20px;
        fill: #F3C653;
}

.site-address {
        display: inline-block;
        margin: 0 auto;
        margin-top: 12px;
//         @media screen and(min-width:1024px) {
//                 display: none;
// }
}



body {
        background-color: rgba(37, 29, 2, 0.788);
}

